@font-face {
  font-family: "easynewsletter";
  src: url("./font/fontello.eot?54032556");
  src: url("./font/fontello.eot?54032556#iefix") format("embedded-opentype"), url("./font/fontello.woff?54032556") format("woff"), url("./font/fontello.ttf?54032556") format("truetype"), url("./font/fontello.svg?54032556#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-easynewsletter-actions::before {
  font-family: "easynewsletter";
  content: "\e800";
}
.state-master {
  color: #d39105;
}
.state-master:hover,
.state-master:active,
.state-master:focus {
  color: #885e03;
}
.state-sending {
  color: #a5a912;
}
.state-sending:hover,
.state-sending:active,
.state-sending:focus {
  color: #61640b;
}
.state-sent {
  color: #007bb1;
}
.state-sent:hover,
.state-sent:active,
.state-sent:focus {
  color: #004665;
}
.portletNewsletterSubscriber .portletItem {
  padding: 10px 15px 26px 15px;
}
.portletNewsletterSubscriber .portletItem form {
  border-top: 2px solid #ddd;
  padding: 0.4em 2px 0 2px;
}
.portletNewsletterSubscriber input.easynewsletter_text {
  width: 96%;
  margin-right: 0;
}
.portletNewsletterSubscriber .easynewsletter_additional_info {
  padding: 1em 0;
}
.portletNewsletterSubscriber #salutation_fields label {
  margin-right: 1em;
}
.portletNewsletterSubscriber input[type="radio"] {
  margin-top: -3px;
  vertical-align: middle;
}
.newsletter.sub-nav {
  margin-bottom: 1em;
}
